*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-mainBlue: #2196F3;
  --color-mainBlack:#000000;
  --color-lightGray:#757575;
  --color-darckGray:#2F303A;
  --color-mainWhite:#FFFFFF;
  --color-veryDark:#212121;
  --color-greatLight:#EEEEEE;
  --color-ghostWhite:#F5F4FA;
  --color-ghostWhite1:#ECECEC;
  --color-middleGrey:#AFB1B8;
}
.header{
  height: 80px;
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-mainBlack);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
img{
  display: block;
  margin: 0;
  padding: 0;
}
.section{
  margin-top: 0;
  margin-bottom: 0;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1, h2{
  text-align: center;
  margin: 0;
}
h3, h4, h5, h6, p{
  margin: 0;
 
}
.header .container{
  display:flex;
  height: 80px;
}
.header-company-name-link{
  padding-top: 24px;
  padding-bottom: 25px;
}
nav{
  display: flex;
}
.current-page-link {
  color:var(--color-mainBlue) ;
}
.nav-links{
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.nav-links li:nth-child(2), .nav-links li:nth-child(3){
  margin-left: 50px;
}
.tel-email{
display: flex;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
margin-left:auto;
}
.tel-email li a{
  display: flex;
  align-items: center;
  padding: 32px 0;
  

}
.tel-email li:nth-child(2){
  margin-left: 50px;
}
.button:hover, button:focus{
  color:var(--color-mainWhite);
  background-color: var(--color-mainBlue);
}
a {
  color:var(--color-mainBlack);
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

}
.hero{
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/team.jpg);
  max-width: 1600px;
  height: 600px; 
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid var(--color-ghostWhite1);
}
.hero .container{
  text-align: center;
}
.company-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.company-name-blue{
  color:var(--color-mainBlue);
}
nav{
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}
.gray-links{
color: var(--color-lightGray);

}
.hero{
background-color: var(--color-darckGray);
color: var(--color-mainWhite);
padding-top: 200px;
padding-bottom: 200px;
}
.advantages-description{
color:var(--color-lightGray);
}
.main-title{
max-width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
color: var(--color-mainWhite);
letter-spacing: 0.06em;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
}
.button-studio{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border:none;
  background: var(--color-mainBlue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-mainWhite);
  width: 216px;
  height: 50px;
  margin-top: 30px;
  
}
.advantages-section{
padding-top: 94px;
padding-bottom: 94px;
}
.advantages-list{
  display: flex;
  gap:30px;
}
.advantages-main{
font-weight: 700;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.advantages-description{
font-size: 14px;
line-height: 1.7;
color: var(--color-lightGray);
}
.icons-advantages-block{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--color-ghostWhite);
  border-radius: 4px;
  }
  .icons-advantages_1{
  display:block;
  width: 65px;
  height: 70px;
  }
  .icons-advantages_2{
    display:block;
    width: 65px;
    height: 70px;
    }
    .icons-advantages_3{
      display:block;
      width: 65px;
      height: 70px;
      }
      .icons-advantages_4{
        display:block;
        width: 65px;
        height: 70px;
        }
.section-work{
  padding-bottom: 94px;
 
}
.work-list{
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.work-list img{
  display: block;
}
.team-member-position{
  margin-top: 10px;
}
.team-list{
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.team-list-description{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-mainWhite);
}
.card{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.section-work-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;
color:var(--color-veryDark);
}
.saction-team{
  padding-top: 94px;
  background-color: var(--color-ghostWhite);
  padding-bottom: 94px;
}
.team-member-name{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-veryDark);
}
.team-member-position{
font-size: 16px;
line-height: 1.2;
color: var(--color-lightGray);
text-align: center;
}
.social-links-list{
  display: flex;
  gap: 10px;
  width: 206px;
  height: 44px;
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
  background-color: var(--color-mainWhite);
}
.social-links-list li{
  width: 44px;
  height: 44px;
}
.social-links-list li a{
  width: 44px;
  height: 44px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-links-list li a:hover, .social-links-list li a:focus{
  background-color: var(--color-mainBlue);
}
.social-links-list li a:hover > svg{
  fill: var(--color-mainWhite);
}
.social-link{
 fill: var(--color-middleGrey);
 width: 20px;
 height: 20px;
}
.section-clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-client-title{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
margin-bottom: 50px;
}
.client-list{
  display: flex;
  gap: 30px;
 
}
.client-list-item{
width: 170px;
height: 92px;
}
.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-middleGrey);
  border: 1px solid var(--color-middleGrey);
border-radius: 4px;
}
.client-image{
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-link:hover, .client-link:focus{
  color: var(--color-mainBlue);
  border-color: var(--color-mainBlue);
 }
/*Portfolio*/
.section-portfolio{
 border-top: 1px solid  var(--color-ghostWhite1);
 padding-top: 94px;
 padding-bottom: 94px;
}
.flex{
  display: flex;
justify-content: center;
}
.buttons-portfolio-list{
  display: flex;
  align-items: center;
}
.button-porfolio{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
background-color: var(--color-ghostWhite);
color: var(--color-veryDark);
height: 26px;
border-radius: 4px;
border: none;
}
.buttons-portfolio-list li button{
  padding: 6px 22px;
  margin-right: 8px;
  height: 38px;
}
.buttons-portfolio-list li button:hover, .buttons-portfolio-list li button:hover{
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons-portfolio-list li:nth-child(1) button{
  padding: 6px 25px;
  width: 73px;
}
.buttons-portfolio-list li:nth-child(2) button{
  width: 125px;
}
.buttons-portfolio-list li:nth-child(3) button{
  width: 112px;
}
.buttons-portfolio-list li:nth-child(4) button{
  width: 103px;
}
.buttons-portfolio-list li:nth-child(5) button{
  margin-right: 0px;
  width: 130px;
}
.project-list{
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
}
.project-list img{
  display: block;
  max-width: 100%;
  height: auto;
}
.project-list li{
 width: 370px;
}
.project-list-description{
  border: 1px solid var(--color-greatLight) ;
  border-top: none;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project-list a:hover, .project-list a:focus{
display: block;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius:4px;
}

.projects-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}
.projects-type{
font-size: 16px;
line-height: 1.9;
color: var(--color-lightGray);

margin-top: 4px;
}
/*Footter*/
.footer{
  background-color: var(--color-darckGray);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-block{
 margin-top: 20px;
}
.footer span:last-child{
  color: var(--color-mainWhite);
}
.address-block{
margin-top: 20px;
}
.address{
font-style: normal;
font-size: 14px;
line-height: 1.7;
color: var(--color-mainWhite);
}
address .email, address .tel{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-item:nth-child(3),.address-list-item:nth-child(2){
  margin-top: 9px;
}
.footer .container{
  display: flex;
  align-items: baseline;
}
.invite-container{
  margin-left: 70px;
}
.invite-container p{
  margin-bottom: 20px;
  color: var(--color-mainWhite);
  font-size: 14px;
  text-align: left;
  font-weight: 700;
}
.invite-container .social-links-list{
  background-color: var(--color-darckGray);
  margin-left: 0;
}
.invite-container a{
  background-color: rgba(255, 255, 255, 0.1);
}
.invite-container svg{
fill: var(--color-mainWhite)
}
.link:hover{
  color:var(--color-mainBlue);
}
.link:focus{
  color: var(--color-mainBlue);
}
.toHide{
  display: none;
}
.icon-smartphone{
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-envelope{
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
